body {
  background-color: #e3d1a3;
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
}

.container {
  background-color: #e3d1a3;
  height: 100%;
  margin: 0 auto;
  box-shadow: 3px 3px 8px #4A4435;
  display: flex;
  justify-content: space-evenly;
  background-image: url(images/krisztian-tabori-nZGNVOvEYio-unsplash.jpg);
  background-size: cover;
}

.profile-image{
  position: absolute;
  bottom: 10%;
  right: 5%;
}
.avatar:hover {
  transform: translate(0, -15px);
}

.avatar {
  height: 190px;
  width: 190px;
  border-radius: 16%;
  transition: 0.5s;
  z-index: 5;
}

.grid-container {
  display: flex;
  column-gap: 10px;
  height: 60%;
  width: 65%;
  z-index: 0;
  margin-top: 10px;
  justify-content: space-evenly;
  position: fixed;
  float: left;
  left: 8%;
  top: 20%;
  align-items: center;
}

.grid-item {
  margin: 0 5px;
  border-radius: 16px;
  width: 150px;
  height: 90%;
  position: relative;
  transition: 0.5s;
}

.inner-text {
  position: absolute;
  left: 5%;
  right: 5%;
  font-family: 'Red Hat Display', sans-serif;
  visibility: hidden;
  color: white;
  transition: 0s;
  font-size: 15px;
  font-weight: 100;
  text-shadow: 2px 2px 6px black;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.inner-text::-webkit-scrollbar {
  width: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin: 5px 2px;
  border-radius: 16px;
  margin-left: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.grid-item:hover {
  transform: scale(1.2);
  width: 80%;
  opacity: 0.9;
  z-index: 5;
  }

.grid-item:hover .grid-title {
  visibility: hidden;
  }

  .grid-item:hover .inner-text {
    visibility: visible;
    transition-delay: 0.2s;
  }
#welcome-item {
  background-image: url(images/szabo-viktor-vE1As8YoJRs-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#portfolio-item {
  background-image: url(images/markus-spiske-GDP_CXFHiuI-unsplash.jpg);
  background-size: cover;
}

#about-item {
  background-image: url(images/simone-secci-49uySSA678U-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

#interests-item {
  background-image: url(images/serhii-tyaglovsky-U2Ug1A6tQew-unsplash.jpg);
  background-size: cover;
}
.grid-title {
  position: absolute;
  bottom: 0;
  left: 10%;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 20px;
}
.intro-text {
  color: white;
  font-family: 'Oswald', sans-serif;
  position: absolute;
  left: 10%;
  top: 15%;
  font-size: 20px;
  text-shadow: 1px 1px 3px black;
}

.profile-info {
  margin: 5px 5px;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Oswald', sans-serif;
}

.extra-info {
  background-color: blue;
  margin: 5px 5px;
  width: 50%;
}

h1 {
  margin: 0;
}

.name {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 29px;
  position: fixed;
  bottom: 5%;
  left: 3%;
  color: black;
}

.title {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 29px;
  position: fixed;
  bottom: 5%;
  right: 3%;
  color: rgb(255, 255, 255);
  z-index: 3;
}

.info-tag {
  margin-bottom: -10px;
  text-shadow: 1px 1px 8px black;
}

.film-grid {
  display: flex;
  width: 95%;
}

.film-grid div {
  object-fit:cover;
}

.film-image{
  height: 300px;
  width: 100%;
  margin: 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#stalker-img {
  background-image: url(images/Stalker.jpg);
  background-size: contain;
  z-index: 4;
  background-repeat: no-repeat;
}

#la-notte-img {
  background-image: url(images/la\ notte.jpg);
  background-size: contain;
  z-index: 4;
  object-fit: fill;
  background-repeat: no-repeat;
}

#sansho-img {
  background-image: url(images/sansho.jpg);
  background-size: contain;
  z-index: 4;
  background-repeat: no-repeat;
}

#dragon-img {
  background-image: url(images/dragon.jpg);
  background-size: contain;
  z-index: 4;
  background-repeat: no-repeat;
}

.film-info {
  font-size: 12px;
  margin-top: 10px;
}
